.main {
	background-color: antiquewhite;
	color: saddlebrown;
	margin: 0px;
	padding: 0px;
}

.nav {
	background-color: rgb(138, 42, 42);
	margin: 0px;
	padding: 0px;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 1000;
}
.nav a {
	color: rgb(255, 253, 253);
	text-decoration-line: none;
	display: flex;
	padding: 7px;

}
.nav ul {
	text-align: center;
	display: flex;
	margin: 0px;
	padding: 0px;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}
.nav li {
	padding: 5px;
	margin: 5px;
	text-shadow: 1px 1px 1px black;
}
.title {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content:start ;
	bottom: 0;
	top: 0;
	text-shadow: 1px 1px 1px black;
}
.nav {
	position: -webkit-sticky;
	position: sticky;
}
.grid-container {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	max-width: 900px;
	margin: 0 auto;
}
.thumb {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	border: 1px solid #000000;
    background-color: rgb(138, 42, 42);
	border-radius: 10px;
	padding: 15px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s;
}
.thumb img:hover{
    transform: translateY(-5px);
}
.thumb figcaption{
    color:  rgb(255, 253, 253);
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}
.thumb img{
    object-fit: cover;
    height: 200px;
    width: 100%;
    border-radius: 8px;
    border-bottom: 15px;
}

@media(max-width: 56em){
.grid-container {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	max-width: 900px;
	margin: 0 auto;
}
}
@media(max-width: 42em){
.grid-container {
	display: grid;
	padding: 20px;
	grid-template-columns: repeat(1, 1fr);
	gap: 20px;
	max-width: 900px;
	margin: 0 auto;
}
.thumb img{
    object-fit: cover;
    height: 200px;
    width: 200px;
    border-radius: 8px;
    border-bottom: 15px;
}
}

footer{
    text-align: center;
    text-shadow: 1px 1px 0.5px rgb(39, 38, 38);
}
